{% load static %}
<footer>
    <div>
        <div class="logo">

        </div>
        <div class="footer_logo">
            <div class="footer_logo">
                <a href="#"><img src="{% static 'img/gmail.svg' %}" alt=""></a>
                <span style="margin-left: 30px">Gmail</span>
            </div>
            <div class="footer_logo">
                <a href="#"><img src="{% static 'img/telegram.svg' %}" alt=""></a>
                <span style="margin-left: 30px">Telegram</span>
            </div>
        </div>
    </div>
</footer>