{% load static %}
<div>
    <div class="logo_header">
    </div>
            <div class="text">
                <div class="d-flex justify-content-lg-start align-items-center text_1">
                    <h1>Места Самарканда</h1>
                </div>
                <div class="d-flex justify-content-center align-items-center text_3">
                    <h1>которые стоит посетить</h1>
                </div>
                <div class="d-flex justify-content-lg-end align-items-center text_2" style="margin-bottom: 30px">
                    <h1>тебе</h1>
                </div>
            </div>
        <div class="col-12 bg-black poloska_1" style="height: 8px; background-color: #DFD4D4"></div>
</div>